

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="warn" style="margin-left: 320px" (click)="AjoutclientPhysique()" >Ajouter client physique</button>
            <button mat-raised-button color="warn" style="margin-left: 30px"  (click)="AjoutclientMorale()" >Ajouter client morale</button>
                      
            <button mat-raised-button color="warn" style="margin-left: 30px"(click)="clientsPhysiques()" >Clients physiques</button>
            <button mat-raised-button color="warn" style="margin-left: 20px" (click)="clientsMorales()" >Clients morales</button>
            
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Vos clients morales</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nature
                                    </th>
                                    <th>
                                        Forme Juridique
                                    </th>
                                    <th>
                                       Statut Fatca
                                    </th>
                                    <th>
                                       Niveau risque
                                    </th>
                                    <th>
                                        Revue
                                    </th>

                                    
                                </thead>
                                <tbody>
                                  <tr *ngFor="let personne_morale of personne_morale">
                                      
                                      <td>{{personne_morale.codeClient}}</td>
                                      <td>{{personne_morale.nature}}</td>
                                      <td>{{personne_morale.formeJuridique}}</td>
                                      <td>{{personne_morale.statutFatca}}</td>
                                      <td>{{personne_morale.niveauRisque}}</td>
                                      <td>{{personne_morale.revue}}</td>
                                      
                                      
                                      
  
                                      <td class="text-center"><button class="btn btn-primary btn-xs" (click)="details(personne_morale.codeClient)" ><span class="material-icons">article</span></button></td>
                                      <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deletePP(personne_morale.codeClient)" ><span class="material-icons">delete_outline</span> </button></td>
                                      <td class="text-center"><button mat-stroked-button color="warn" (click)="risque(personne_morale.codeClient)" ><span class="material-icons">
                                        privacy_tip
                                        </span></button>

                                
                                          
                                    </td>
                                    </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </div>
    
  </div>
