<div class="container" style="margin-top:35px;">
    <h4>Wähle aus:</h4>
    <div class="form-group">
        <select name="state" id="maxRows" class="form-control" style="width: 150px;">
        <option value="5000">Zeige Alle</option>	
        <option value="5">5</option>	
        <option value="10">10</option>	
        <option value="15">15</option>	
        <option value="20">20</option>	
        <option value="50">50</option>	
        <option value="100">100</option>		
        </select>
      </div>		


<table id="mytable" class="table table-bordered table-striped">
    <thead>
        <tr>
        
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alabe</td>
            <td>Lol</td>
            <td>Lol</td>
            <td>Lol</td>
        </tr>
        
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed3</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed4</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed5</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed6</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed7</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed8</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed9</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed10</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed11</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed12</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed13</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed14</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed15</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
        <tr><td>Mohammed</td><td>Hoha</td><td>Hohs</td><td>Hohan</td></tr>
    </tbody>
    
</table>
    
    
    
    <div class="pagination-container">
    <nav>
        <ul class="pagination"></ul>
    </nav>
</div>
    </div>


<script>
var table = '#mytable'
$('#maxRows').on('change', function(){
    $('.pagination').html('')
    var trnum = 0
    var maxRows = parseInt($(this).val())
    var totalRows = $(table+' tbody tr').length
    $(table+' tr:gt(0)').each(function(){
        trnum++
        if(trnum > maxRows){
            $(this).hide()
        }
        if(trnum <= maxRows){
            $(this).show()
        }
    })
    if(totalRows > maxRows){
        var pagenum = Math.ceil(totalRows/maxRows)
        for(var i=1;i<=pagenum;){
            $('.pagination').append('<li data-page="'+i+'">\<span>'+ i++ +'<span class="sr-only">(current)</span></span>\</li>').show()
        }
    }
    $('.pagination li:first-child').addClass('active')
            $('.pagination li').on('click',function(){
            var pagenum = $(this).attr('data-page')
            var trIndex = 0;
                $('.pagination li').removeClass('active')
                $(this).addClass('active')
                $(table+' tr:gt(0)').each(function(){
                trIndex++
                if(trIndex > (maxRows*pagenum) || trIndex <= ((maxRows*pagenum)-maxRows)){
                    $(this).hide()
                }else{
                    $(this).show()
                }
                })
            })								
})

$(function(){
$('table tr:eq(0)').prepend('<th>ID</th>')
var id = 0;
    $('table tr:gt(0)').each(function(){
    id++
    $(this).prepend('<td>'+id+'</td>')
    })
})
        
</script>