<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Operations</h4>
                      <p class="card-category">Entrez le type de l'operation</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Type operation</mat-label>
                                    <mat-select  matInput  #operation name="operation" type="text" id="operation" type="text">
                                      <mat-option value="virement">virement</mat-option>
                                      <mat-option value="prelevement">prelevement</mat-option>
                                      <mat-option value="versement">versement</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                              </div>
                         </div>
                          <div *ngIf="operation.value=='virement'">  
                              <label class="l1">DETAILS COMPTE EMETTEUR :</label>
                              <div class="row">
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input  matInput [(ngModel)]="transaction.nomEmetteur"   name="nomEmetteur" id="nomEmetteur"  placeholder="Nom" type="text" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="transaction.prenomEmetteur"   name="prenomEmetteur" id="prenomEmetteur"  placeholder="prenom " type="text" >
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="transaction.typeCompteEmetteur"   name="typeCompteEmetteur" id="typeCompteEmetteur"  placeholder="Type compte " type="text" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="transaction.compteTransaction"   name="compteTransaction" id="compteTransaction"  placeholder="num compte " type="number" >
                                    </mat-form-field>
                                </div>
                              </div>
                              <label class="l1">INFORMATIONS SUR LE DESTINATAIRE:</label>
                              <div class="row">
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input  matInput [(ngModel)]="transaction.nomDestinataire"   name="nomDestinataire" id="nomDestinataire"  placeholder="Nom " type="text" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="transaction.ribDestinataire"   name="ribDestinataire" id="ribDestinataire"  placeholder="RIB " type="text" >
                                      </mat-form-field>
                                  </div>
                              </div>
                              <label class="l1">DETAILS DE LA TRANSACTION:</label>
                              <div class="row">
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="transaction.montant"   name="montant" id="montant"  placeholder="Montant " type="number" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input  matInput [(ngModel)]="transaction.paysDestinataire"   name="paysDestinataire" id="paysDestinataire"  placeholder="Pays Destinataire " type="text" >
                                      </mat-form-field>
                                  </div>
                              </div>
                              <button class="btn btn-primary btn-xs" (click)="virement()" ><span class="material-icons">article</span> Confirmer</button>
                              </div>
                          <div *ngIf="operation.value=='prelevement'">  
                              <label class="l1">DETAILS COMPTE CLIENT :</label>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input  matInput [(ngModel)]="transaction.nomEmetteur"   name="nomEmetteur" id="nomEmetteur"  placeholder="Nom" type="text" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="transaction.prenomEmetteur"   name="prenomEmetteur" id="prenomEmetteur"  placeholder="prenom " type="text" >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.typeCompteEmetteur"   name="typeCompteEmetteur" id="typeCompteEmetteur"  placeholder="Type compte " type="text" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.compteTransaction"   name="compteTransaction" id="compteTransaction"  placeholder="num compte" type="number" >
                                  </mat-form-field>
                              </div>
                            </div>
                              <label class="l1">DETAILS DE LA TRANSACTION:</label>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.montant"   name="montant" id="montant"  placeholder="Montant " type="number" >
                                  </mat-form-field>
                                </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="Date" type="date" >
                                      </mat-form-field>
                                  </div>
                              </div>
                              <button class="btn btn-primary btn-xs" (click)="prelevement()" ><span class="material-icons">article</span> Confirmer</button>
                          </div>
                        <div *ngIf="operation.value=='versement'">  
                            <label class="l1">DETAILS COMPTE CLIENT :</label>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input  matInput [(ngModel)]="transaction.nomEmetteur"   name="nomEmetteur" id="nomEmetteur"  placeholder="Nom" type="text" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.prenomEmetteur"   name="prenomEmetteur" id="prenomEmetteur"  placeholder="prenom " type="text" >
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="transaction.typeCompteEmetteur"   name="typeCompteEmetteur" id="typeCompteEmetteur"  placeholder="Type compte " type="text" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="transaction.compteTransaction"   name="compteTransaction" id="compteTransaction"  placeholder="num compte" type="number" >
                                </mat-form-field>
                            </div>
                          </div>
                            <label class="l1">DETAILS DE LA TRANSACTION:</label>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="transaction.montant"   name="montant" id="montant"  placeholder="Montant " type="number" >
                                </mat-form-field>
                              </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput  placeholder="Date" type="date" >
                                    </mat-form-field>
                                </div>
                            </div>
                                  <button class="btn btn-primary btn-xs" (click)="versement()" ><span class="material-icons">article</span> Confirmer</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>